.left-space {
    padding-left: 15px;
}
/* .panel li {
    border: 1px solid #36adad;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .panel .cta {
    margin-top: auto;
    border-top: 1px solid #36adad;
    padding: 10px;
    text-align: center;
  } */