/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Monteserrat:400,700');

body, html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    /* background-color: #7f7f7f; */
}

.panel {
    list-style: none;
    margin: 2em;
    display: grid;
    grid-template-columns: 100%;
  }
  .panel li {
    border: 1px solid #36adad;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .panel .cta {
    margin-top: auto;
    border-top: 1px solid #36adad;
    padding: 10px;
    text-align: center;
  }
  .panel .body {
    padding: 10px;
  }
  #panel-header {
    background-color: #36adad;
    color: #fffbc5;
    padding: 15px;
  
    display: grid;
    grid-template-columns: 100%;
  }
